.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dot1,
.dot2,
.dot3 {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  animation: loaderAnimation 0.8s infinite;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

@keyframes loaderAnimation {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
