@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
@layer base {
  :root {
    /* --color-gray-50: 249, 250, 251; */
    --color-gray-900: 17 24 39;
    --color-gray-800: 31 41 55;
    --color-gray-700: 55 65 81;
    --color-gray-400: 156 163 175;
    --color-gray-300: 209 213 219;
    --color-white: 255 255 255;
    --color-green-500: 34 197 94;
    --color-purple-300: 216 180 254;
    /* --color-gray-gradient */
  }

  body {
    @apply font-body;
    /* @apply font-heading; */
  }

  a {
    @apply no-underline;
  }
}

@import "./fonts/fonts-light.css";
@import "./fonts/fonts-bold.css";
@import "./fonts/fonts-medium.css";
