.swiper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  height: 11px !important;
  opacity: 0.3 !important;
  transition: width 0.2s ease-in-out !important;
  width: 11px !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
  border-radius: 9999px !important;
  height: 12px !important;
  opacity: 1 !important;
  -webkit-transform: translateY(1px) !important;
  transform: translateY(1px) !important;
  width: 28px !important;
}
